{% extends "index.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load cust_filter %}
{% block title %}
Home Page
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/Slide1.JPG' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-dark">Deal of the day</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/Slide2.JPG' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-dark">Top picks</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/Slide3.JPG' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-dark">Deal on top brands</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/Slide4.JPG' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-dark">Brands at slashed prices</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/Slide5.JPG' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-dark">Trends for her</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- CATEGORIES SECTION-->
<section class="pt-5">
  <header class="text-center">
    <p class="small text-muted small text-uppercase mb-1">Carefully created collections</p>
    <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
  </header>
  <div class="row">
    <div class="col-md-4"><a class="category-item" href="#"><img class="img-fluid" src="{% static 'img/cat-img-1.jpg' %}" alt=""/><strong class="category-item-title">Clothes</strong></a>
    </div>
    <div class="col-md-4"><a class="category-item mb-4" href="#"><img class="img-fluid" src="{% static 'img/cat-img-2.jpg' %}" alt=""/><strong class="category-item-title">Shoes</strong></a><a class="category-item" href="#"><img class="img-fluid" src="{% static 'img/cat-img-3.jpg' %}" alt=""/><strong class="category-item-title">Watches</strong></a>
    </div>
    <div class="col-md-4"><a class="category-item" href="#"><img class="img-fluid" src="{% static 'img/cat-img-4.jpg' %}" alt=""/><strong class="category-item-title">Electronics</strong></a>
    </div>
  </div>
</section>
<!-- TRENDING PRODUCTS-->
<section class="py-5">
  <header>
    <p class="small text-muted small text-uppercase mb-1">Made the hard way</p>
    <h2 class="h5 text-uppercase mb-4">Top trending products</h2>
  </header>
  <div class="row">
    <!-- PRODUCT-->
    {% for prod in prods %}
    {% include "modal/modal_productView.html" %}
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="product text-center">
        <div class="position-relative mb-3">
          {% if prod.badge == 'New' %}
          <div class="badge text-white bg-info">{{prod.badge}}</div>
          {% elif prod.badge == 'Sold' %}
          <div class="badge text-white bg-danger">{{prod.badge}}</div>
          {% else %}
          <div class="badge text-white bg-dark">{{prod.badge}}</div>
          {% endif %}
          <a class="d-block" href="{% url 'product_detail' prod.id %}"><img class="img-fluid w-100" src="{{ prod.image1.url }}" alt="..."></a>
          <div class="product-overlay">
            <ul class="mb-0 list-inline">


                {% if prod.id in prodlist %}
                <li class="list-inline-item m-0 p-0"><button name="remove_wishlist" value="{{prod.id}}" data-product={{prod.id}} data-action="remove" class="btn btn-sm btn-outline-dark update-wishlist" type="submit"><i class="fas fa-heart" style="color:red"></i></button></li>
                {% else %}
                <li class="list-inline-item m-0 p-0"><button name="add_wishlist" value="{{prod.id}}" data-product={{prod.id}} data-action="add" class="btn btn-sm btn-outline-dark update-wishlist" type="submit"><i class="far fa-heart"></i></button></li>
                {% endif %}
                <li class="list-inline-item m-0 p-0"><button name="cart" value="{{prod.id}}" data-product={{prod.id}} data-action="add" class="btn btn-sm btn-dark update-cart" type="submit">Add to cart</button></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#productView-{{ prod.id }}"><i class="fas fa-expand"></i></a></li>

            </ul>
          </div>
        </div>
        <h6> <a class="reset-anchor" href="{% url 'product_detail' prod.id %}">{{prod.name|title|truncate_n:25}}</a></h6>
        <p class="small text-muted"><i class="bi bi-currency-rupee" style="color:light"></i>{{prod.price}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock body %}