{% extends "index.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load cust_filter %}
{% block title %}
Home Page
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<!-- TRENDING PRODUCTS-->
<section class="py-5">
  <header>
    <p class="small text-muted small text-uppercase mb-1">Made the hard way</p>
    <h2 class="h5 text-uppercase mb-4">Top searched products</h2>
  </header>
  <div class="row">
    <!-- PRODUCT-->
    {% for prod in prods %}
    {% include "modal/modal_productView.html" %}
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="product text-center">
        <div class="position-relative mb-3">
          {% if prod.badge == 'New' %}
          <div class="badge text-white bg-info">{{prod.badge}}</div>
          {% elif prod.badge == 'Sold' %}
          <div class="badge text-white bg-danger">{{prod.badge}}</div>
          {% else %}
          <div class="badge text-white bg-dark">{{prod.badge}}</div>
          {% endif %}
          <a class="d-block" href="{% url 'product_detail' prod.id %}"><img class="img-fluid w-100" src="{{ prod.image1.url }}" alt="..."></a>
          <div class="product-overlay">
            <ul class="mb-0 list-inline">


                {% if prod.id in prodlist %}
                <li class="list-inline-item m-0 p-0"><button name="remove_wishlist" value="{{prod.id}}" data-product={{prod.id}} data-action="remove" class="btn btn-sm btn-outline-dark update-wishlist" type="submit"><i class="fas fa-heart" style="color:red"></i></button></li>
                {% else %}
                <li class="list-inline-item m-0 p-0"><button name="add_wishlist" value="{{prod.id}}" data-product={{prod.id}} data-action="add" class="btn btn-sm btn-outline-dark update-wishlist" type="submit"><i class="far fa-heart"></i></button></li>
                {% endif %}
                <li class="list-inline-item m-0 p-0"><button name="cart" value="{{prod.id}}" data-product={{prod.id}} data-action="add" class="btn btn-sm btn-dark update-cart" type="submit">Add to cart</button></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#productView-{{ prod.id }}"><i class="fas fa-expand"></i></a></li>

            </ul>
          </div>
        </div>
        <h6> <a class="reset-anchor" href="{% url 'product_detail' prod.id %}">{{prod.name|title|truncate_n:25}}</a></h6>
        <p class="small text-muted"><i class="bi bi-currency-rupee" style="color:light"></i>{{prod.price}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock body %}